#all {
	width: 1350px;
	font-family: "黑体";
	font-size: 16px;
	color: #333333;
}

body {
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

a {
	font-family: "黑体";
	font-size: 14px;
	font-weight: normal;
	color: #3366FF;
	text-decoration: none;
}

a:hover {
	color: #3399CC;
	text-decoration: underline;
}

h2 {
	font-family: "黑体";
	font-size: 15px;
	color: #000000;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-family: "黑体";
	font-size: 13px;
	font-weight: normal;
	color: #3399CC;
	margin: 0px;
	padding: 0px;
}
/*头部大层设计开始*/
#top {
	width: 1000px;
	height: 150px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 0px;
}

#top_left {
	width: 500px;
	height: 150px;
	margin: 0px;
	padding: 0px;
	background: url(../images/logo_bg.jpg) no-repeat top left;
	float: left;
}

#top_right {
	float: right;
	width: 450px;
	height: 150px;
	line-height: 150px;
}

#logo {
	width: 170px;
	height: 40px;
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 0px;
	float: left;
}

#text {
	width: 200px;
	height: 30px;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 0px;
	padding-left: 20px;
	padding-right: 0px;
	font-family: "宋体";
	font-size: 25px;
	font-weight: bold;
	color: #000000;
	border-left: 1px solid #CCCCCC;
	float: left;
}

#login {
	width: 250px;
	height: 20px;
	margin-top: 25px;
	margin-bottom: 0px;
	padding: 0px;
	float: left;
	line-height: 20px;
}
/*头部大层设计结束*/

/*主体内容设计开始*/
#all_main {
	width: 900px;
	height: 560px;
	margin: 10px auto 0px auto;
	padding: 0px;
}
/*内容框公共设计开始*/
.bt {
	width: 250px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

.bt .bt_left {
	height: 20px;
	width: 200px;
	float: left;
}

.bt .bt_left h2 {
	width: 200px;
	height: 20px;
	padding-left: 5px;
	padding-right: 0px;
	margin: 0px;
}

.bt .bt_left h2 .chinese {
	font-family: "黑体";
	font-size: 16px;
	color: #D00000;
}

.bt .bt_left h2 .english {
	margin-top: 2px;
	margin-bottom: 0px;
	font-family: "黑体";
	font-size: 14px;
	color: #CCCCCC;
}
/*内容公共部分设计开始*/
.nr {
	width: 210px;
	height: 185px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "黑体";
}
/*内容公共部分设计结束*/

/*左部设计开始*/
#main_left {
	float: left;
	width: 270px;
	height: 260px;
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 0px;
}

#left_loginer {
	height: 140px;
	width: 245px;
	padding-left: 25px;
	padding-right: 0px;
	padding-top: 120px;
	padding-bottom: 0px;
	background: url(../images/left_loginer_bg.jpg) no-repeat left top;
}

#left_loginer .bt {
	width: 200px;
	height: 20px;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#left_loginer .nr {
	width: 180px;
	height: 90px;
	margin: 5px 0px 0px 40px;
	padding: 0px;
}

#left_loginer .nr div {
	font-size: 14px;
	height: 15px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
}
/*左部设计结束*/

/*右部设计开始*/
#main_right {
	width: 540px;
	height: 520px;
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 0px;
	background: url(../images/exam_right_bg.jpg) no-repeat left top;
	float: right;
}

#selection {
	width: 540px;
	height: 25px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 0px;
}
#selection .s1 {
	width: 55px;
	float: left;
	margin:0 -5px 0 5px;
}
.s2 select{
	width:100px;
	float:left;
}
#selection div {
	font-size: 14px;
}

.bt {
	width: 300px;
	margin-left: 20px;
	margin-right: 0px;
}

.bt_left {
	width: 300px;
}

.dotDivide {
	width: 100%;
	height: 20px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-bottom: 1px #666666 dotted;
}

#content {
	width: 540px;
	height: 360px;
	text-align: center;
	
}
#content .contentTip{
	float:left;
}
#content li {
	width: 100%;
	height: 60px;
	margin: 0px;
	padding: 0px;
	float: left;
}

.title {
	width: 90px;
	height: 30px;
	font-family: "黑体";
	margin: 0px;
	padding-left: 20px;
	padding-right: 0px;
	line-height: 30px;
	background: url(../images/info_input_icon.jpg) no-repeat left center;
	float: left;
}

.input {
	width: 400px;
	height: 50px;
	font-family: "黑体";
	font-size: 14px;
	margin-left: 10px;
	margin-right: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	float: left;
}

#answer {
	width: 500px;
	height: 25px;
	margin-left: 40px;
	margin-right: 0px;
}

#answer input {
	margin-left: 30px;
	margin-right: 0px;
	padding: 0px;
}

.preAndnext {
	width: 300px;
	height: 50px;
	margin: auto;
}

#pre,#next {
	float: left;
	margin-left: 50px;
}
/*右部设计结束*/